.search-container {
  position: relative;
  padding: 0.5rem;
}

.search-icon {
  position: absolute;
  top: 13px;
  left: 13px;
}

.search-box {
  width: 100%;
  padding: 0.2rem 0.2rem 0.2rem 1.5rem;
}

.search-user-container {
  display: flex;
  flex-direction: column;
}
