.login-container {
  /* min-height: 70vh;
  width: 50%;
  margin: 0 auto; */
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.login-form {
  background: #fff;
  padding: 50px;
}

@media screen and (max-width: 779px) {
  .login-container {
    background: #fff;
  }
  .login-form {
    padding: 5px 30px;
  }
}
